body {
    font-family: "Avenir","Helvetica","Arial",sans-serif;
}

#searched-city {
    text-transform: uppercase;
}

.low {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: orange;
}

.severe {
    background-color: red;
}

#forecast {
    padding-top: 20px;
}